# Developer tools' files
.lite_workspace.lua

# Neutralinojs binaries and builds
/bin
/dist

# Neutralinojs client (minified)
neutralino.js

# Neutralinojs related files
.storage
*.log
.aider.*
.tmp*

vitest.shims.d.ts
vitest.workspace.ts
.storybook*
frontend/src/stories/

**/node_modules/*
.aider*
